.exclusive {
    position: relative;
    z-index: 0;

    &__info {
        & > h2 {
            max-width: 700px;
        }
        & > p {
            max-width: 480px;
        }
    }
}

.gallery {
    width: 934px;
    height: 1161px;
    position: relative;

    &__item {
        position: absolute;
        z-index: 1;
    }
    &__item-1 {
        top: -70px;
        left: -235px;
    }
    &__item-2 {
        top: -280px;
        right: -150px;
    }
    &__item-3 {
        right: -235px;
        bottom: 15px;
    }
    &__item-4 {
        top: -150px;
        z-index: 0;
    }
}

// Слайдер______________________________________
.slider-wrapper {
    display: none;
    position: relative;
    z-index: 1;
}

.slider-img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -58px;
    right: -20px;
    z-index: 2;
}

.slider {
    overflow: hidden;
    height: 550px;

    &__line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px;
        -webkit-transition: all ease 1s;
        -o-transition: all ease 1s;
        transition: all ease 1s;
        img {
            width: 344px;
            height: 344px;
            -ms-transform: rotate(-2deg);
           -webkit-transform: rotate(-2deg);
                   transform: rotate(-2deg);
        }
    }
    &__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &__button {
        width: 48px;
        height: 48px;
        background-color: #FFDE40;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        -webkit-transition: -webkit-box-shadow 100ms linear;
        transition: -webkit-box-shadow 100ms linear;
        -o-transition: box-shadow 100ms linear;
        transition: box-shadow 100ms linear;
        transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        cursor: pointer;

        &:first-child {
            margin-right: 12px;
        }
        img {
            padding: 5px;
        }
        &:hover {
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        }
        &:active {
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        }
    }
    &__prev {
        left: 15px;
    }
    &__next {
        right: 15px;
    }
}

// Медиа_______________________________________
// 1010px______________________________________
@media screen and (max-width: 1010px) {
    .gallery {
        width: 934px;
        height: 700px;

        &__item-1 {
            width: 300px;
            height: 300px;
            top: -10px;
            left: 52px;
        }
        &__item-2 {
            width: 200px;
            height: 200px;
            top: -165px;
            right: 80px;
        }
        &__item-3 {
            width: 300px;
            height: 300px;
            right: 40px;
            bottom: 60px;
        }
        &__item-4 {
            width: 600px;
            top: -100px;
            right: 150px;
            z-index: 0;
        }
    }
}

// 820px______________________________________
@media screen and (max-width: 820px) {
    .exclusive  {
        padding-bottom: 0;
    }
    .gallery {
        height: 550px;

        &__item-1 {
            width: 300px;
            height: 300px;
            top: 10px;
            left: -130px;
        }
        &__item-2 {
            width: 150px;
            height: 150px;
            top: -50px;
            left: 300px;
        }
        &__item-3 {
            width: 300px;
            height: 300px;
            left: 220px;
            bottom: -10px;
        }
        &__item-4 {
            width: 400px;
            top: 0;
            left: 0px;
            z-index: 0;
        }
    }
}

// 500px______________________________________
@media screen and (max-width: 500px) {
    .exclusive {
        &__info {
            max-width: 100%;
            margin-bottom: 48px;

            & > h2 {
                max-width: 260px;
            }
        }
    }

    .gallery {
        display: none;
    }

    .slider-wrapper {
        display: block;
    }
}